<title>ADmin Basic Section</title>
<style>
  .white-link{
    margin: 5px;
    border-bottom: 1px solid #fbfbfb4a;
  }
  .white-link a{
    font-size: 14px;
    font-family: Poppins;
    color: #fff;
  }
  .white-link i{margin-right: 5px;}
  .nav-swiper{display: flex;}
 .nav-swiper li a{color: #fff;opacity: 80%;font-size: 14px;font-family: sans-serif;margin: 0 5px;background-color: black;}
</style>

<a href="/admin/logout">Logout</a>

    <div class="nav-bar-sticky ">
        
        <ul>
          <span>Header</span>
          <div class="nav-swiper">
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Admin Home</a></li>
          <li><a href="/admin/show-admin-movies">Show All Movies Admin</a></li>
          <li><a href="/admin/add-movies">Add Movies</a></li>
          <li><a href="/admin/show-actor">Show All Actors</a></li>
          <li><a href="/admin/add-actor">Add Actor</a></li>
          <li><a href="/admin/add-nextweek-movies">Add Next Week</a></li>
          <li><a href="/admin/add-nextweek-movies">Show Next Week Movies</a></li>
          <li><a href="/admin/add-last-update">Add Last Update</a></li>
          <li><a href="/admin/show-last-update">Show Last Update</a></li>
          <li><a href="/admin/add-cover">Add Cover</a></li>
          <li><a href="/admin/Show-cover">Show Cover</a></li>
         
        </div>
        </ul>
      </div>
      <div class="boder-bottom"></div>
 <div class="head-h2"><h2>Admin Section</h2>  </div>  <div class="boder-bottom"></div>
<div class="white-link"><a href="/admin/add-movies" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Add Movie</a></div>
<div class="white-link"><a href="/admin/show-admin-movies" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Show All Movies</a></div>
<div class="white-link"><a href="/admin/add-actor" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Add Actor</a></div>
<div class="white-link"><a href="/admin/show-actor" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Show All Actor</a></div>
{{!-- <div class="white-link"><a href="/admin/add-nextweek-movies" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Add Next Week Movies</a></div>
<div class="white-link"><a href="/admin/show-nextweek-movies" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Show All NexWeek Movies</a></div>
<div class="white-link"><a href="/admin/add-last-update" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Add Last updates</a></div>
<div class="white-link"><a href="/admin/show-last-update" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Show All Last Updates</a></div>
<div class="white-link"><a href="/admin/add-cover" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Add Cover</a></div>
<div class="white-link"><a href="/admin/show-cover" class="dflexx"> <i class="fas fa-chevron-circle-right"></i>Show All Cover</a></div> --}}