<!------------------Main Header-------------------->

  {{!-- <div class="heading">
   <a href="" class="heading-text"> <h1>CINEMA<span>DT</span></h1><span>.COM</span></a>
  </div>
    <!-----------------------------------------Search Box----------------->
    <div class="search-bar">
      <div class="search-item">
       <input type="text" id="linkit" placeholder="" value="">
       <div class="search-button">
         <a href="" id="hp" onclick="searchit()">Search</a>
       </div>
      </div>
    </div> --}}
<div class="website-header">
  <div class="website-logo">
    <h1>Movies<span>Pick</span></h1>
    <!-- <a href="#"><img src="oscar-movies/logo.png" alt="" srcset=""></a> -->
  </div>
  <div class="search-box">
    <input type="text" class="search-txt" id="search" placeholder="Search Movie">
    <a href="#" class="search-btn" id="hp" >
      <img class="lazy-photo" data-src="/public/images/other/search.png " alt="Search" onclick="searchit()">
      <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
    </a>
  </div>
</div>
     
  
    